* {box-sizing: content-box;}

body {
    background-color: darkgray;
    padding: 20px;
    margin: 10px auto;
}
#board {
    background-color: cornsilk;
    margin: 100px auto;
    width: 417px;
    padding: 10px;
}

div[id^="row"]{
    overflow: hidden;
}
div[id^="row"] div {
    float: left;
    width: 115px;
    height: 115px;
    padding: 8px;
    border: 4px solid black;
    text-align: center;
    line-height: 85%;
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div[id^="row"] div:first-child {border-left: none;}
div[id^="row"] div:last-child {border-right: none;}
div[id="row-1"] div {border-top: none;}
div[id="row-3"] div{border-bottom: none;}